@import 'compass';
@import 'recipes/ui';
@import 'recipes/color'; 

@import 'normalize';
@import 'main';

$darkred: #8B0000;
$darkgrey: complementary-color-alt($darkred);
$red: complementary-color-light($darkred);
$lightred: complementary-color-lighter($darkred);
$lightheader: white;
$lighttext: desaturate(complementary-color-lighter($darkgrey), 90%);
$darkerred: darken($darkred, 20%);

$loading: 1s;
$slow: 3s;
$nbchars: 5;

$compassSize: 640px;
$segmentSize: 25px;

$sceneMinW: 150px;
$sceneMinH: 84px;
$sceneOff: 10px;
$sceneMaxW: 180px;
$sceneMaxH: 140px;

$sceneMinWrapH: $sceneMinH + $sceneOff * 3;
$sceneMinWrapW: $sceneMinW + $sceneOff * 2;

$compMinW: 120px;
$compMinH: 68px;
$compOff: 8px;
$compMaxW: 180px;
$compMaxH: 140px;

$compMinWrapH: $compMinH + $compOff * 3;
$compMinWrapW: $compMinW + $compOff * 2;

$prefixes: ("-ms-", "-webkit-","-moz-", "-o-", "");
@mixin selection($color, $background) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      color: $color;
      background: $background;
      @include text-shadow(none);
    }
  }
}

@mixin bloodHover { color: $darkred; }
@mixin bloodActive { color: $red; }

@mixin macbethHeader {
  display: inline-block;
  @include background(linear-gradient(left, transparent, transparent 14%, $lighttext 14%, $lighttext 86%, transparent 86%, transparent));
  @include background-size(100% 1px);
  background: {
    repeat: no-repeat;
    position: left bottom;
  }
  margin-bottom: 0.1em;
  line-height: 1;
  text-transform: uppercase;
}

@mixin macbethSubtitle {
  letter-spacing: 0.4em;
  margin-right: -0.4em;
  text-transform: uppercase;
}

@mixin shadowHover($HOVER: true) {
  @if $HOVER == true {
    @include box-shadow(black 0 0 10px);
  } @else {
    @include box-shadow(transparentize(black, 0.5) 0 0 5px);
    @include transition(box-shadow 0.5s);
  }
}

@mixin icon-font($fontsize, $fontname) {
  span[data-icon]:before {
    font: {
      family: $fontname;
      size: $fontsize;
      weight: 400;
    }
    text-transform: lowercase;
    margin-right: $fontsize * 0.5;
    content: attr(data-icon);
    speak: none;
    -webkit-font-smoothing: antialiased;
    line-height: 0;
  }
}

@mixin font-face-kit($name) {
  @include font-face(
    '#{$name}',
    font-files(
      '#{$name}.eot',
      '#{$name}.woff',
      '#{$name}.ttf',
      '#{$name}.svg'
    )
  );
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-light-webfont.eot');
  src: url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-light-webfont.woff') format('woff'),
  url('../fonts/ubuntu-light-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-light-webfont.svg#ubuntulight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-medium-webfont.eot');
  src: url('../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-medium-webfont.woff') format('woff'),
  url('../fonts/ubuntu-medium-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OSPDIN';
  src: url('../fonts/OSP-DIN-webfont.eot');
  src: url('../fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OSP-DIN-webfont.woff') format('woff'),
    url('../fonts/OSP-DIN-webfont.ttf') format('truetype'),
    url('../fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
  font-weight: normal;
  font-style: normal;
}

$pfont: "Ubuntu", "Free Sans", "Helvetica Neue", Arial, sans-serif;
$hfont: "OSPDIN", "Free Sans", "Helvetica Neue", Arial, sans-serif;

@include font-face-kit('icomoon');

html, body, .fullscreen-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

body { 
  font: {
    family: $pfont;
    size: 18px;
    weight: 300;
  }
  height: 100%;
  width: 100%;
  @include selection(white, $darkred);
  @include transition(background 1s);
  background: {
    repeat: no-repeat;
    position: center center;
    color: black;
  }
  &.focussed {
    background: {
      color: black;
      image: none;
    }
  }
  &.inactive { background: $darkerred; }
  &.cookies {
    #{headings()} {
      font-family: $hfont;
      margin: 0 0 1em;
    }
    p { margin: 0 0 1em; }
  }
}

#compass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent image-url('compass_8.jpg') no-repeat center center;
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: {
      repeat: no-repeat;
      color: black;
      position: center center;
    }
    @include opacity(0.0);
    @include transition(opacity 1s);
    &.active {
      @include opacity(1.0);
    }
    &.fade-out {
      @include transition(opacity 4s);
      @include opacity(0.0);
    }
  }
  @for $i from 0 through 7 {
    .compass-#{$i} { background-image: image-url('compass_#{$i}.jpg'); }
  }
}

#{headings()} {
  font: {
    family: $hfont;
    weight: 400;
  }
  text-transform: uppercase;
  color: white;
  color: transparentize(white, 0.4);
}

h2, h3 {
  color: $lightheader;
  margin: 0;
  @include transition(color 0.5s);
}

p, ul {
  color: $lighttext;
  margin: 0;
  @include transition(color 0.5s, background 0.5s);
} 

a {
  @include link-colors(white, $red, white, white, white);
  text-decoration: none;
  @include transition(color 0.5s);
}

video {
  width: 624px;
  height: 352px;
}

#loading,#splash,#main,#compass {
  min-width: 960px;
  min-height: 720px;
}
  
#main, .scene-view-wrapper {
  width: 960px;
  min-height: 720px;
  margin: 0 auto;
  position: relative;
  @include opacity(1.0);
  @include transition(opacity 1s, height 1s);
}

#main { overflow: hidden; }

body.inactive #main {
  @include opacity(0.0);
  height: 0;
  overflow: hidden;
}

#loading, .splash, #windowsize, #chromeframe {
  @include ui-overlay;
  background: {
    image: image-url('body_overlay.jpg');
    repeat: repeat;
    position: center center;
    color: black;
  }
  @include opacity(1.0);
  @include transition(opacity $loading, z-index $loading linear); 
  z-index: 997;
  &.inactive {
    z-index: -1;
    @include opacity(0.0);
  }
}
  
#windowsize, #chromeframe {
  z-index: 998;
  div {
    position: absolute;
    width: 100%;
  }
  h2, p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

#loading {
  #canvasLoader {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -43px;
    margin-left: -43px;
  }
  div.messages {
    font-family: monospace;
    bottom: 50%;
    display: block;
    font-size: 8px;
    font-size: 8.333px;
    height: 65px;
    left: 50%;
    margin: 0 0 -120px -120px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 240px;
    line-height: 1.2;
  }
}

header,div,#compass {
  @include opacity(1.0);
  &.inactive { @include opacity(0.1); }
}

.scene {
  top: 0px;
  left: 0px;
  position: absolute;
  @include transition(transform 0.5s);
  &.scene-2 {
    top: $sceneOff;
    left: $sceneOff;
  }
  &.scene-3 {
    top: $sceneOff * 2;
    left: $sceneOff * 2;
  }
  h3, p {
    @include transition(display 1s linear);
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h3 {
    font-size: 20px;
    line-height: 1;
    bottom: 15px;
  }
  p { font-size: 11px; }
  img {
    width: 120px;
    height: 68px;
    @include scale(1.0);
    @include transition(transform 0.5s, box-shadow 0.5s);
    @include shadowHover(false);
  }
  &.drag {
    @include transition(transform 0.5s);
    @include scale(0.83);
    cursor: move;
    position: fixed;
    h3, p { display: none; }
    img {
      @include shadowHover(false);
    }
  }
  div.remove {
    @include icon-font(12px, 'icomoon');
    display: block;
    height: 34px;
    line-height: 0;
    padding-top: 33px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    color: white;
    @include text-shadow(black 0 0 5px);
    @include opacity(0.0);
    &:hover {
      @include opacity(1.0);
      cursor: pointer;
    }
  }
  &.position div.remove { display: none; }
  div.status {
    right: 5px;
    top: 75px;
  }
}

.scenes.expanded .wrapper.active .scene.complete div.status,
.characters .character.complete div.status,
.characters .choice.complete div.status { display: block; }

.characters.expanded .choice.complete div.status { display: none; }

.scenes,
.compass {
  .wrapper { 
    @include transition(width 0.5s, top 0.5s);
    img {
      border: 1px solid $darkgrey;
    }
  }
  .wrapper.active {
    top: 0px;
    &:hover .scene {
      h3, p { left: 0; }
      img {
        @include shadowHover;
        cursor: pointer;
      }
    }
  }
  &.expanded .wrapper.active,.wrapper.expanded {
    height: ($sceneMaxH + $sceneOff * 2) * 2 + $sceneMaxH;
    width: $sceneMaxW + 2;
    .scene {
      cursor: pointer;
      left: 0px;
      height: $sceneMaxH;
      width: $sceneMaxW;
      h3,p {
        display: block;
      }
      h3 { bottom: 15px; }
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img {
        @include shadowHover(false); 
        width: 182px;
        height: 102px;
      }
      &:hover {
        h3,p { @include bloodHover; }
        img { @include shadowHover(true); }
      }
      &.complete, &.complete:hover {
        h3,p { color: $darkgrey; }
        img { @include opacity(0.5); }
      }
    }
    .scene-2 {
      top: $sceneMaxH + $sceneOff * 2;
      left: 0px;
    }
    .scene-3 {
      top: ($sceneMaxH + $sceneOff * 2) * 2;
      left: 0px;
    }
  }
}

.scenes {
  width: $sceneMaxW + 120px;
  position: absolute;
  top: -2px;
  right: 10px;
  height: $sceneMinWrapH;
  margin: $sceneOff 0;
  .wrapper {
    position: absolute;
    top: -$sceneMinWrapH;
    right: 0;
    width: $sceneMinWrapW + 2;
    height: $sceneMinWrapH - $sceneOff;
  }
  .scene {
    width: $sceneMinW;
    height: $sceneMinH;
  }
  .scene.complete, .scene.complete:hover {
    img { @include opacity(0.5); }
  }
  p.instruction {
    font-size: 11px;
    line-height: 1.2;
    margin-right: 180px;
    margin-top: -50px;
    @include opacity(0.0);
    text-align: right;
    @include transition(opacity 0.5s, margin-top 0.5s);
  }
  p.instruction-expanded { margin-right: 195px; }
  &.visible {
    p.instruction-initial {
      margin-top: 40px;
      @include opacity(1.0);
    }
    &.expanded {
      p.instruction-initial {
        margin-top: -50px;
        @include opacity(0.0);
      }
      p.instruction-expanded {
        margin-top: 55px;
        @include opacity(1.0);
      }
    }
  }
}

div.segment {
  width: $compMinWrapW;
  height: $compMinWrapH;
  position: absolute;
  .scene {
    position: absolute;
    width: $compMinW;
    height: $compMinH;
    @include scale(1.0);
    @include opacity(1.0);
    @include transition(opacity 0.5s ease-in, transform 0.5s ease-in);
    z-index: inherit;
    div.remove {
      @include opacity(0.0);
      @include transition(display 1s, opacity 1s);
    }
    &:hover {
      z-index: 2;
      div.remove { @include opacity(1.0); }
    }
    &.position {
      @include scale(0);
      @include opacity(0.0);
    }
  }
}

.compass {
  position: absolute;
  margin: 0 auto;
  width: $compassSize;
  height: $compassSize;
  left: 50%;
  top: 40px;
  margin-left: -320px;
}

.compass {
  $hyp: 195px;
  $off: $compassSize * 0.5;
  $offX: $compMinWrapW * -0.5;
  $offY: $compMinWrapH * -0.5;
  @for $i from 0 through 7 {
    div.segment.segment-#{$i} {
      left: $hyp * sin(-45deg * $i + 157.5deg) + $off + $offX;
      top: $hyp * cos(-45deg * $i + 157.5deg) + $off + $offY;
    }
  }
  @for $i from 1 through 3 {
    div.segment.items-#{$i} {
      $marg: (3 - $i) * ($compOff * 0.5);
      margin-left: $marg;
      margin-top: $marg;
    }
  }
}

.characters {
  position: absolute;
  top: 0;
  left: 10px;
  overflow: hidden;
  height: 100px;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  @include transition(height 0.5s);
  div {
    width: 240px;
    display: block;
    height: 70px;
    h3, p {
      margin-top: 0;
      margin-bottom: 5px;
      line-height: 1.1;
      margin-left: 70px;
    }
    h3 {
      font-size: 28px;
      border-bottom: 1px $lighttext solid;
    }
    p {
      font-size: 11px;
      margin-left: 70px;
      margin-top: 5px;
    }
    img {
      width: 60px;
      height: 60px;
      @include float-left;
      @include shadowHover(false);
      user-drag: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
    }
    &.choice {
      position: relative;
      width: 300px;
      height: 110px;
      h3, p { margin-left: 110px; }
      img {
        width: 100px;
        height: 100px;
      }
      .status {
        top: 78px;
        left: 70px;
        display: none;
      }
    }
    &.character {
      position: relative;
      @include opacity(0.0);
      @include transition(opacity 0.5s);
      .status {
        top: 42px;
        left: 34px;
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
      h3,p { @include bloodHover; }
      img { @include shadowHover(true); }
    }
    &.complete, &.complete:hover {
      &.character, div.status {
        h3,p { color: $darkgrey; }
        img { @include opacity(0.5); }
      }
    }
    &.choice.complete, &.choice.complete:hover,
    &.character.complete, &.character.complete:hover {
      img { @include opacity(0.5); }
    }
    &.status {
      top: 20px;
      left: 50px;
    }
  }
  &.expanded {
    height: 70px * $nbchars + 100px;
    div.character {
      @include opacity(1.0);
      &.active, &.active:hover {
        h3, p { @include bloodActive; }
      }
    }
  }
}

.credits {
  position: absolute;
  bottom: 5px;
  right: 50%;
  margin-right: -130px;
  @include transition(right 0.5s, margin-right 0.5s);
}

.credits, .splash {
  text-align: center;
  font-size: 0.7em;
  h1 {
    font-size: 7.3em;
    margin: 0;
    @include macbethHeader;
  }
  p.subtitle {
    font-size: 1em;
    line-height: 1;
    @include macbethSubtitle;
  }
  p.copyleft {
    line-height: 1.1;
    font-size: 0.8em;
    margin: 5px 0;
  }
  p.description { display: none; }
}
body.ready .credits {
  right: 10px;
  margin-right: 0;
}

body.focussed .credits {
  right: 50%;
  margin-right: -130px;
}

.progress {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 240px;
  text-transform: uppercase;
  @include opacity(0.8);
  @include transition(opacity 0.5s, left 0.5s);
  h2 {
    margin: 0 0 -26px 8px;
    font-size: 18px;
    line-height: 1.2;
  }
  .progressbar {
    display: block;
    height: 24px;
    @include border-radius(10px);
    padding: 1px;
    border: 1px solid $red;
  }
  .progressbar-value {
    display: block;
    width: 0%;
    height: 100%;
    min-width: 1%;
    @include transition(width 1s);
    @include border-radius(9px);
    @include background-image(linear-gradient(top, $lightred, $red 50%, $darkred));
  }
  .reset-wrapper {
    height: 40px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-top: 5px;
  }
  .reset {
    position: absolute;
    @include transition(top 0.5s);
    top: 40px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    display: block;
  }
  .reset-question {
    top: 0px;
  }
  .reset-question, .reset-action {
    font-size: 18px;
    margin-top: 5px;
    @include icon-font(14px, 'icomoon');
    &:hover span { @include bloodHover; }
  }
  &.confirm {
    .reset-question { top: 40px; } 
    .reset-confirm { top: 0; }
  }
  &.action, &.action:hover {
    .reset { top: 40px; } 
    .reset-action { top: 0; }
  }
  &.inactive {
    left: -240px;
    @include opacity(0.0);
  }
  &.complete {
    h2 { color: black; }
    .progressbar { border-color: $darkgrey; }
    .progressbar-value {
      @include background-image(linear-gradient(top, white, $darkgrey 50%));
    }
  }
}

.overview {
  position: absolute;
  bottom: 90px;
  left: 0px;
  height: 30px;
  width: 150px;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  @include opacity(0.5);
  @include transition(left 0.5s, bottom 0.5s, width 0.5s, height 0.5s, opacity 0.5s);
  .item {
    overflow: hidden;
    margin: 5px;
    width: 20px;
    height: 20px;
    top: 0;
    position: absolute;
    background: {
      position: center center;
      repeat: no-repeat;
      color: transparent;
      image: none;
    }
    @include shadowHover(false);
    @include transition(width 0.5s, height 0.5s, border-radius 0.5s, margin 0.5s, box-shadow 0.5s, left 0.5s, top 0.5s);
    @include border-radius(0px);
    h3, p {
      color: black;
      @include transition(opacity 0.5s);
      @include opacity(0.0);
    }
    img {
      margin: 0px;
      width: 20px;
      height: 20px;
      display: block;
      @include transition(margin 0.5s, width 0.5s, height 0.5s); 
      @include border-radius(0.4em);
      @include opacity(0.8);
    }
    h3 {
      margin-top: 5px;
      font-size: 0px;
      text-align: center;
      white-space: nowrap;
      @include transition(font-size 0.5s);
    }
    p { display: none; }
  }
  &:hover {
    @include opacity(1.0);
    .item { @include shadowHover(true); }
  }
  @for $i from 1 through 5 {
    .item-#{$i} {
      left: ($i - 1) * 30px;
      background-image: image-url('card_#{$i}.png');
    }
  }
  .sceneval-wrapper {
    width: 80%;
    margin: 10px 10% 0;
    @include opacity(0.0);
    .sceneval {
      display: none;
      &.complete {
        display: block;
        height: 26px;
        @include clearfix;
      }
      img.scene-thumb {
        margin: 0;
        width: 40px;
        height: auto;
        @include float-left;
        @include border-radius(0);
        @include opacity(0.0);
      }
      p.scene-title {
        margin: 2px 0 0 50px;
        text-transform: uppercase;
        letter-spacing: -0.1em;
        white-space: nowrap;
        display: block;
        @include text-shadow(transparentize(white, 0.8) 1px 1px 0);
        font: {
          size: 11px;
          weight: bold;
        }
      }
    }
  }
  footer {
    position: absolute;
    width: 480px;
    height: 20px;
    left: 240px;
    top: 450px;
    text-align: center;
    @include opacity(0.0);
  }
  
  .finished, .close {
    width: 50%;
    display: block;
    @include float-left;
    height: 20px;
    @include icon-font(14px, 'icomoon');
    &:hover { cursor: pointer; }
  }
  &.expanded {
    cursor: auto;
    width: 960px;
    left: 0;
    bottom: 0;
    height: 720px;
    @include opacity(1.0);
    .sceneval-wrapper, footer { @include opacity(1.0); }
    .item {
      width: 160px;
      height: 240px;
      @include border-radius(10px);
      @include background-size(auto);
      h3, p { @include opacity(0.8); }
      h3 { font-size: 26px; }
      img {
        margin: 10px 30px 0;
        width: 100px;
        height: 100px;
      }
      .sceneval-wrapper {
        h3, img, p {
          @include opacity(0.8);
        }
      }
      &.complete div.status {
        left: 100px;
        top: 85px;
        display: block;
      }
    }
    @for $i from 1 through 5 {
      .item-#{$i} {
        left: 40px + ($i - 1) * 180px;
        top: 180px;
      }
    }
  }
  &.inactive {
    left: -240px;
    @include opacity(0.0);
  }
}

.intro, .outro {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  @include opacity(0.0);
  @include transition(opacity 1s);
  &.expanded {
    display: block;
    @include opacity(1.0);
  }
  .mejs-container {
    margin: 150px 168px;
    .mejs-controls { visibility:hidden !important; }
  }
  #intro_media img,
  #outro_media img {
    height: 352px !important;
    top: 0 !important;
  }
  a.begin {
    position: absolute;
    height: 20px;
    top: 520px;
    font: {
      family: $hfont;
      size: 24px;
    }
    text-transform: uppercase;
    left: 440px;
    text-align: center;
    width: 80px;
    @include opacity(0);
    @include transition(opacity 0.5s);
    &:hover { cursor: pointer; }
    &.active { @include opacity(1); }
  }
  p.instructions {
    font-size: 10px;
    line-height: 1.2;
    color: $grey;
    display: block;
    text-align: center;
    padding-top: 10px;
  }
}

#intro {
  a.begin, a.begin.active { @include opacity(0); }
  &.ready a.begin.active { @include opacity(1); }
}


.splash {
  @include transition(opacity 2s); 
  min-height: 720px;
  .credit-wrapper {
    font-size: 2.5em;
    margin: 60px auto 0;
    max-width: 960px;
    p.copyleft { font-size: 0.3em; }
    .sponsors {
      margin: 60px 20px 20px;
      a {
        margin: 10px;
        @include opacity(0.5);
        @include transition(opacity 0.5s);
        &:hover { @include opacity(1.0); }
      }
    }
  }
  &.inactive { @include transition(opacity 2s, z-index 2s linear); }
}
.js .splash .credit-wrapper {
  margin: 0 auto;
  position: relative;
}

div.overlay {
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  overflow-x: hidden;
  min-height: 720px;
  height: 100%;
  .overlay-bg {
    @include ui-overlay;
    background: {
      image: image-url('activity_overlay.jpg');
      color: black;
      position: center center;
      repeat: no-repeat;
    }
  }
  nav {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 10px;
    margin: 0 auto;
    white-space: nowrap;
    width: 960px;
    @include transition(top 1s);
    a {
      text: {
        overflow: ellipsis;
        align: left;
        transform: uppercase;
      }
      font: {
        family: $hfont;
        size: 18px;
      }
      z-index: 12;
      line-height: 0.9;
      height: 17px;
      background-color: $darkgrey;
      padding: 4px 6px;
      cursor: pointer;
      color: white;
      overflow: hidden;
      margin: 0 5px;
      width: 193px;
      @include border-bottom-radius(10px);
      @include shadowHover(false);
      @include transition(background 0.5s);
      @include float-left;
      @include icon-font(14px, 'icomoon');
      span { margin-left: 0px; }
      &:hover, &.active, &.active:hover {
        background-color: $darkred;
        @include shadowHover;
      }
    }
  }
  .close { width: 75px; }
  &.inactive nav { top: -35px; }
}

.scene-view-wrapper {
  position: relative;
  z-index: 11;
  .view-player, .activity {
    width: 960px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-bottom: 50px;
    @include opacity(0.0);
    @include transition(opacity 0.5s, left 0.5s);
    > h3, > h4, > p, > ul {
      width: 584px;
      margin: 0 auto;
    }
    h3, h4 {
      color: $lighttext;
      font-size: 34px;
      line-height: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h4 {
      font-size: 24px;
      color: white;
    }
    p, ul {
      margin: 10px auto;
      font-size: 14px;
      strong {
        font-weight: normal;
        color: $red;
      }
    }
    .mejs-container {
      width: 624px;
      height: 352px;
      margin: 50px auto 20px;
      display: block;
      .mejs-poster img {
        margin: 0;
        height: auto;
      }
    }
    footer {
      width: 624px;
      margin: 20px auto 0;
      height: 100px;
      background: image-url('header_bg.jpg') no-repeat right top;
      position: relative;
      @include opacity(0.5);
      @include transition(opacity 0.5s);
      &:hover {
        @include opacity(1.0);
      }
      p {
        width: 240px;
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 140px;
        font-size: 12px;
        text-align: right;
        a, span { white-space: nowrap; }
        span {
          font-family: $hfont;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
    img {
      height: 120px;
      width: 624px;
      margin: 50px auto 20px;
      display: block;
    }
    #scene-player_media img { height: 352px; }
    &.current {
      left: 0;
      @include opacity(1.0);
    }
    &.left { left: -100%; }
  }
  .view-player {
    h3 { color: white; }
    p { margin: 0 auto; }
    h3,p { text-align: center; }
  }
}

.maximised {
  h1 { font-size: 40px; }
  .compass { margin-top: 30px; }
}

div.status {
  @include icon-font(24px, 'icomoon');
  @include text-shadow(black 0 0 10px);
  color: lightgreen;
  display: none;
  height: 24px;
  position: absolute;
  width: 24px;
}

